name: Deploy to Production

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 193.203.162.199
          username: azalc1838
          key: ${{ secrets.SERVER_SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            cd laravel_app
            git fetch --all
            git reset --hard origin/main
            /usr/local/lsws/lsphp82/bin/php artisan migrate --force
            /usr/local/lsws/lsphp82/bin/php artisan config:cache
            /usr/local/lsws/lsphp82/bin/php artisan route:cache
            /usr/local/lsws/lsphp82/bin/php artisan view:clear
            /usr/local/lsws/lsphp82/bin/php artisan cache:clear
